{
  "osc":{
    "host": "localhost",
    "port": "3333"
  },
  "arduino":{
    "modem": "/dev/cu.usbmodem1d1131",
    "available_pins":{
      "analog": [0,1,2,3],
      "digital": [13,12,11,10]
    }
  }
}
